@import "./public.scss";

.header-btn-wrapper {
  display: flex;
  margin-bottom: 20px;
  .btn {
    margin-right: 20px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;

  #jsoneditor,
  #result {
    flex: 1;
    height: 800px;
    overflow: hidden;
  }

  .btn-wrapper {
    flex: 0 0 100px;
    .btn-generator {
      margin: 10px 20px;
    }
  }

  #result {
    background: #fff;
    border: 1px solid #dcdfe6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);

    .tab-header {
      background-color: #f5f7fa;
      border-bottom: 1px solid #e4e7ed;
      display: flex;
      margin: 0;

      .tab-item {
        padding: 10px 20px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 500;
        color: #909399;
        border: 1px solid transparent;
        border-right-color: #dcdfe6;
        border-left-color: #dcdfe6;
        cursor: pointer;

        // &:hover,
        // &.active {
        //   color: #409eff;
        // }
        &.active {
          background-color: #fff;
          border-bottom-color: #fff;
          border-bottom: 1px solid transparent;
          margin-left: -1px;
          margin-right: -1px;
        }
      }
    }

    .CodeMirror {
      height: 100%;
    }
  }
}

#warning {
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    &.alert-danger {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }
  }
}
